body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stopwatch-container {
    text-align: center;
}

.stopwatch {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

.controls {
    position: absolute;
    bottom: 20px;
}

.control-button {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.control-button:hover {
    background-color: #45a049;
}

.control-button:active {
    background-color: #3e8e41;
}